[build]
  command = "npm run build"
  publish = "dist"

[context.production.environment]
  VITE_API_URL = "https://civix-server.onrender.com"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = true
