:root {
  --ease: cubic-bezier(.4,-0.3,.6,1.3);
  --clr-background-day: #1b7fcc;
  --clr-background-night: #070b34;
  
  --clr-sun: #FCE570;
  --clr-sun-lgt: #ffffe3;
  
  --clr-moon: hsl(212, 13%, 75%);
  
  --button-width: 2.5em;
}

html {
  font-size: calc(20px * 3);
}

body {
  background-color: #bbb;
  height: 100dvh;
  transition: background-color 0.75s ease;
}

#button-wrapper {
  --x: 6px;
  --y: 10px;
  --spread: 8px;
  --offset: 0px;
  
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-background-day);
  // background: linear-gradient(270deg, #1b7fcc, #71b2e3);
  width: 8em;
  height: 3em;
  border-radius: 2em;
  font-size: 1em;
  border: none;
  overflow: hidden;
  box-shadow: 
    var(--x) var(--y) var(--spread) var(--offset) rgb(0 0 0 / 0.15),
    var(--x) var(--y) var(--spread) var(--offset) rgb(0 0 0 / 0.25),
    inset var(--x) var(--y) var(--spread) var(--offset) rgb(255 255 255 / 0.35);
  isolation: isolate;
  transition: all 0.75s var(--ease);
  #button {
    position: absolute;
    left: 0.25em;
    right: auto;
    top: 50%;
    transform: translate(0, -50%);
    width: var(--button-width);
    height: var(--button-width);
    border-radius: 50%;
    background: radial-gradient(var(--clr-sun-lgt), transparent);
    background-color: var(--clr-sun);
    cursor: pointer;
    box-shadow: 
      0px 0px 0em 1em rgb(255 255 255 / 0.2),
      0px 0px 0em 2em rgb(255 255 255 / 0.2),
      0px 0px 0em 3em rgb(255 255 255 / 0.2),
      0 0 0.5em 0 #fff;
    transition: all 0.75s var(--ease);
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 60%;
      width: 25%;
      height: 25%;
      background-color: #c5c5c500;
      border-radius: 50%;
      overflow: hidden;
      transition: all 0.3s ease;
      box-shadow:
        -0.95em -0.75em 0 0.1em #d5d5d500,
        0.1em -1em 0 -0.1em #d5d5d500;
    }
  }
  &::before {
    content: '';
    position: absolute;
    width: 2.5em;
    aspect-ratio: 1 / 1;
    background-color: #fff;
    border-radius: 50%;
    right: -0.25em;
    bottom: 0.4em;
    box-shadow:
      -1em 1em 0 -0.25em #fff,
      -2em 1.25em 0 -0.5em #fff,
      -3em 1.5em 0 -0.25em #fff,
      -4em 1.5em 0 -0.6em #fff,
      -5em 1.75em 0 -0.5em #fff;
    opacity: 0.5;
    transition: all 0.75s ease;
  }
  &::after {
    content: '';
    position: absolute;
    width: var(--button-width);
    height: var(--button-width);
    background-color: #fff;
    border-radius: 50%;
    right: -1em;
    bottom: 0em;
    box-shadow:
      -1em 1em 0 -0.25em #fff,
      -2em 1.25em 0 -0.5em #fff,
      -3em 1.5em 0 -0.25em #fff,
      -4em 1.5em 0 -0.6em #fff,
      -5em 1.75em 0 -0.5em #fff;
    transition: all 0.75s ease;
  }
  
  &[data-time="night"] {
    background-color: var(--clr-background-night);
    #button {
      background: radial-gradient(#eee, transparent);
      background-color: var(--clr-moon);
      left: calc(100% - 0.25em - var(--button-width));
      box-shadow: 
        0px 0px 0em 1em rgb(255 255 255 / 0.1),
        0px 0px 0em 2em rgb(255 255 255 / 0.1),
        0px 0px 0em 3em rgb(255 255 255 / 0.1),
        0 0 0.5em 0 #fff;
      &::after {
        transition-delay: 0.5s;
        background-color: #c5c5c5ff;
        box-shadow:
          -0.95em -0.75em 0 0.1em #d5d5d5ff,
          0.1em -1em 0 -0.1em #d5d5d5ff;
      }
    }
    &::before {
      right: -5em;
      bottom: -1em;
      scale: 2;
    }
    &::after {
      right: -5em;
      bottom: -2em;
      scale: 3;
    }
    
    canvas#stars {
      opacity: 1;
    }
  }
  
  canvas#stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: all 0.75s ease;
  }
}

label[for="scale"] {
  font-size: 24px;
  position: absolute;
  right: 32px;
  top: 16px;
}