@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: blue;
  --color-secondary: teal;
}